@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-image: url("/imgs/general/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html.dark {
  background-color: rgba(0, 0, 0, 0.436);
  background-blend-mode: multiply;
}
